nav{
    font-family: 'Avant Garde', sans-serif;
    font-size:1.5rem;
    text-transform: uppercase;
    padding: 0.8rem;
    margin: 1 rem;
    border-bottom: 2px solid greenyellow;
    width: 15%;
}