nav {
    font-family: 'Avant Garde', sans-serif;
    font-size:1.5rem;
    text-transform: uppercase;
    padding: 0.8rem 0;
    margin: 1 rem;
    border-bottom: 2px solid greenyellow;
    width: 15%;
}

img {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    
}

li {
    list-style: none;
    height: 40vh;
    flex-grow: 1;
    padding: 0.5rem;
    flex-direction: row;
    display: flex;
}

